[IMSS]
Description		= PostgreSQL for IMSS
Driver		= PostgreSQL
Trace		= Yes
TraceFile		= sql.log
Database		= _PKG_DB_
Servername		= _PKG_SERVER_
UserName		= _PKG_USER_
Password		= _PKG_PASS_
Port		= _PKG_DB_PORT_
Protocol		= 6.4
ReadOnly		= No
RowVersioning		= No
ShowSystemTables		= No
ShowOidColumn		= No
FakeOidIndex		= No
ConnSettings		= 
